<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PetShop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<div th:replace="~{partialViews/navbar}"></div>
<div class="container p-5">
    <form class="p-5 border border-2 rounded" th:method="get" th:action="@{/edit/{id}(id = ${old_product.id})}" th:object="${old_product}"  enctype="multipart/form-data">
        <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <input type="text"  class="form-control" id="Title" th:field= "*{title}">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger" ></span>
        </div>
        <label for="floatingTextarea" class="form-label">Description</label>
        <div class="form-floating">
            <textarea class="form-control"  placeholder="Description of product" id="floatingTextarea" th:field= "*{description}">    </textarea>
        </div>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger" ></span>
        <div class="mb-3">
            <label for="Price" class="form-label">Price</label>
            <input  type="number" step="0.01" class="form-control" id="Price" th:field= "*{price}">
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger" ></span>
        </div>
        <div class="form-group">
            <div class="form-check " th:each="category :${all_categories}">
                <input class="form-check-input" type="radio" th:field = "*{category}" id="flexRadioDefault1" th:value="${category.getId()}">
                <label class="form-check-label" for="flexRadioDefault1" th:text="${category.getType()}">
                </label>
            </div>
            <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger" ></span>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Image</label>
            <input class="form-control" type="file" id="formFile" name="file" required>
        </div>
        <button type="submit" class="btn btn-primary mt-5">Submit</button>
    </form>
</div>
<div th:replace="~{partialViews/footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>